<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link href="{%static 'index.css' %}" rel="stylesheet" type="text/css">
    <title>{% block title %}
        mon titre
        {% endblock %}
     </title>
<style>
    body {
    "background-image: url('static/img/fondclaire.webp.png')"
    }
</style>

</head>
<div id="fond">
<ul>
    <li id="nav"><a href="/capteur/bienvenue">Accueil</a></li>
    <li id="nav"><a href="/capteur/ajout">ajout capteur</a></li>
    <li id="nav"><a href="/capteur/index/">capteur</a></li>
    <li id="nav"><a href="/capteur/ajoutdet/">ajout donnée</a></li>
    <li id="nav"><a href="/capteur/indexdet/">donnée</a></li>
    <li id="nav"><a href="/capteur/filtre/">Filtre capteur</a></li>
    <li id="nav"><a href="/capteur/filtre_datedet/">Filtre date</a></li>
    <li class="oui" id="nav"><a class="ab" href="/capteur/graphiquedet/">Graphique</a></li>
</ul>
</div>
<h2>Projet SAE Partie WEB</h2>
<ol>
    <p class="mon-paragraphe">Bienvenue sur notre site Web. Ici, on peut ajouter des informations (capteurs, donnée). Vous trouverez dans ce site web une liste de donnée qui correspond au MQTT. De plus on peut supprimer, mettre à jour des données qu'on a ajouté et il y a également un filtre de capteur et filter date. Enfin on peut choisir entre un rafraichissement automatique ou manuel.</p>
</ol>
<style>
    .mon-paragraphe {
        color: red;
        font-family: Papyrus;
        margin-left:20%;
        margin-right:20%;
        text-align: center;
    }
</style>
</head>
<body>

</body>
</html>