{% block content %}
    <div class="container-conf">
        <h2>Supprimer le Capteur<br><br></h2>
    </div>
    <div class="container-conf">
        <p>Voulez-vous vraiment supprimer le Capteur "{{ Capteur.id_capteur }}" ?<br><br></p>
    </div>
    <div class="container-conf">
        <form method="post">
            {% csrf_token %}
            <div class="confirmation-buttons">
                <button type="submit" class="btn-i">Confirmer la suppression</button>
            </div>
        </form>
    </div>
{% endblock %}