{% block subtitle %}
<h2> Ajouter une nouvelle Donnee </h2>
{% endblock %}

{% block form %}
    {% csrf_token %}
    <div class="form-group">
        <label for="date">Date de Sortie:</label>
        <input type="date" name="date" id="date" required>
    </div>
    <form method="post" action="/capteur/traitementdet/">
        {% csrf_token %}
        {{ form.as_ul }}
        <input type="submit" value="envoyer les données"\>
    </form>
<br>
<a href="/capteur/indexdet/"> retournez à la page d'accueil</a>
{% endblock %}